footer {
    background-color: #009298; /* Màu nền của footer */
    color: white; /* Màu chữ trắng */
    padding-top: 30px; /* Khoảng cách phía trên của footer */
   
}

footer .container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; /* Cho phép các phần tử con tự động xuống dòng khi không còn đủ không gian */
    margin: 0 auto; 
    
}

footer .cot {
   width: 22%;
    margin: 0 10px;
	min-width: 200px; 
}

footer .logo {
    display: flex;
    align-items: center; 
}

footer .cot .logo img {
    height: 40px; 
    margin-right: 10px; 
}

footer .cot .logo h3 {
    font-size: 15px; 
    margin-bottom: 20px; 
}

footer .cot p,
footer .cot ul,
footer .cot li {
    font-size: 18px;
    color: #ccc; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

footer .cot a {
    color: #ccc; 
    text-decoration: none; /* Loại bỏ gạch dưới mặc định của liên kết */
}

footer .cot a:hover {
    text-decoration: underline; /* Hiển thị gạch dưới khi hover vào liên kết */
    color: #ff9900; /* Màu chữ khi hover */
}

footer .cot i {
    margin-right: 10px; 
    color: #f7b600; 
}

footer .cot i#first {
    margin-top: 20px; 
    margin-right: 10px; 
    color: #f5f5f5; 
}

footer .cot li {
    margin-bottom: 10px; 
}

footer .cot p {
    text-align: justify; 
}
footer .cot img {
    height:120px;
	width:120px;
}
footer .cot img:hover {
    transform: scale(1.05); /* Phóng to ảnh khi hover */
}

footer .cot .newsletter input {
    padding: 10px;
    width: 80%; 
    border: none; 
    border-radius: 5px; 
    background-color: #002f45; 
    color: #ccc; 
    font-size: 14px; 
}

footer .cot .newsletter button {
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #002f45; 
    color: #ccc;
    cursor: pointer;
}

footer .cot .newsletter button:hover {
    background-color: #ff9900; 
}

footer .footer-bottom {
    padding: 10px; 
    background-color: #0a2a4a; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; /* Cho phép các phần tử con xuống dòng khi màn hình nhỏ */
}

footer .footer-bottom a {
    color: #ffffff; /* Màu chữ của các liên kết trong phần footer dưới cùng */
    text-decoration: none; /* Loại bỏ gạch dưới mặc định của liên kết */
}

footer .footer-bottom p {
    color: #948989; /* Màu chữ của đoạn văn bản */
    
}

footer .footer-bottom a:hover {
    text-decoration: underline; /* Gạch dưới liên kết khi hover */
}

footer .card img {
    margin-right: 10px;
    height: 30px; 
    width: 50px; 
}

footer .footer-bottom img {
    max-width: 50px; 
}

@media only screen and (max-width: 768px) {
    footer .cot {
        width: 48%;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 480px) {
    footer .cot {
        width: 100%;
        margin: 10px 0;
    }

    footer .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    footer .footer-bottom a,
    footer .footer-bottom p {
        padding: 10px 0;
    }

    footer .cot .newsletter input,
    footer .cot .newsletter button {
        width: 100%;
    }
}